<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<ul>
    <li class="nav-item dropdown" th:fragment="navbar-dropdown">
        <a class="nav-link" href="#" id="navbarNotifications" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span class="badge badge-secondary notifications-counter">0</span>
        </a>
        <div class="dropdown-menu notification-dropdown" aria-labelledby="navbarNotifications">
            <div class="notifications-head text-light bg-secondary">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <span>შეტყობინებები (<span class="notifications-counter">0</span>)</span>
                        <a href="#" class="float-right text-light">ყველას წაკითხულად მონიშვნა</a>
                    </div>
                </div>
            </div>

            <div class="notifications-container empty">
                <p class="text-center text-muted mt-4">თქვენ არ გაქვთ ნოტიფიკაციები</p>
            </div>

            <div class="notifications-footer bg-secondary text-center">
                <a href="#" class="text-light">ყველა შეტყობინება</a>
            </div>
        </div>
    </li>
</ul>
</body>
</html>
