<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Secret!c</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Anonymous messaging system">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/shards.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div class="page-content">
    <nav th:replace="fragment/navbar :: navbar">
        <p>Navbar Contents</p>
    </nav>
    <div class="content clearfix" layout:fragment="content">
        <p>Body contents</p>
    </div>
    <footer th:replace="fragment/footer :: footer">
        <p>Footer Contents</p>
    </footer>
</div>

<script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/shards.min.js}"></script>
<script th:src="@{/assets/js/script.js}"></script>
<th:block layout:fragment="scripts" />
</body>
</html>
